body {
  font-family: "Open Sans", sans-serif;
}

h5 {
  font-family: "Yanone Kaffeesatz", serif;
}

.card-img-overlay h5 {
  color: white;
  background-color: rgba(159, 102, 45, 0.5);
  text-align: center;
}